
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Permitimos acceso total durante desarrollo para evitar bloqueos en el prototipado
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
