rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Función básica de autenticación
    function isSignedIn() {
      return request.auth != null;
    }

    // PERMISOS DE LECTURA: Toda la información es pública para facilitar la visibilidad del ecosistema
    match /{path=**} {
      allow read: if true;
    }

    // PERMISOS DE ESCRITURA: Permitimos escritura a cualquier usuario autenticado durante la fase de prototipado
    // Esto asegura que el "creador" pueda poblar datos y gestionar todas las secciones (Club, Tienda, Torneos)
    match /{path=**} {
      allow write: if isSignedIn();
    }
  }
}